<div id="login">
  <h4>Login Here!</h4>
  <%= render partial: 'shared/errors', locals: {errors: @errors} %>
  <div class="row">
    <div class="card-panel">
      <!--TODO Change to dynamic path-->
      <%= form_for :session, class: 'col s12', url: '/sessions' do |f| %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.text_field :email, class: 'validate' %>
              <%= f.label :email %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.password_field :password, class: 'validate' %>
              <%= f.label :password %>
            </div>
          </div>
          <div class="row">
            <%= f.submit 'Login', class: 'btn waves-effect waves-light right'%>
          </div>
      <% end %>
    </div>
  </div>
</div>
