<%= form_for :user, url: user_path(@user), method: :patch do |f| %>
  <div class="input-field">
    <%= f.text_field :routing_number, id: 'routing_number' %><br>
    <%= f.label :routing_number %>
  </div>
  <div class="input-field">
    <%= f.text_field :account_number, id: 'account_number' %><br>
    <%= f.label :account_number %>
  </div>
  <div class="input-field">
    <%= f.text_field :type, id: 'type' %>
    <%= f.label :type %>
  </div>
  <div class="center">
    <%= f.submit 'Add Bank!', class: 'btn waves-effect waves-light' %>
  </div>
<% end %>

<div id="logs">
</div>
