<%= form_tag(user_path(@user), method: :patch) do |f| %>
  <div class="input-field">
    <%= label_tag :routing_number %>
    <%= text_field_tag :routing_number %><br>
  </div>
  <div class="input-field">
    <%= label_tag :account_number %>
    <%= text_field_tag :account_number%><br>
  </div>
  <div class="input-field">
    <%= label_tag :type %>
    <%= text_field_tag :type%>
  </div>
  <div class="center">
    <%= submit_tag 'Add Bank!', class: 'btn waves-effect waves-light' %>
  </div>
<% end %>

<div id="logs">
</div>
