<h4 class="center-align">Integrate a Dwolla Below:</h4>
<br>
<div class="center-align">
  <div id="add_bank">
    <input type="button" id="start" value="Add Bank to Dwolla Account" class="waves-effect waves-light btn">
  </div><br>
  <div class="center-align" id="already_a_dwolla_user">
    <%= button_to("Link your Existing Dwolla Account", "#{@login_url}", {class: "waves-effect waves-light btn"}) %>
  </div><br>
  <div class="center-align" id="jump_to_profile">
    <%= link_to("No Thanks, Let's Skip This Step for now", user_path(@user), {class: "waves-effect waves-light btn"}) %>
  </div><br>
</div>

<div id="iavContainer"></div>

<script type="text/javascript">
$('#start').click(function() {
  $(this).closest('#add_bank').hide();
  $('#already_a_dwolla_user').hide();
  $('#jump_to_profile').hide();
  var iavToken = "<%= @token %>";
  dwolla.configure('sandbox');
  dwolla.iav.start(iavToken, {
          container: 'iavContainer',
          stylesheets: [
            'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext',
            'http://localhost:8080/iav/customStylesheet.css'
          ]
        }, function(err, res) {
    console.log('Error: ' + JSON.stringify(err) + ' -- Response: ' + JSON.stringify(res));
    var ajaxFunc = $.ajax({
      url: "<%= user_path(@user) %>",
      method: 'PUT',
      dataType: 'json',
      data: {user: {dwolla_url: res}}
    });

    ajaxFunc.done(function(response) {
      console.log(response);
      setTimeout(
        function() {
          location.replace("<%= user_path(@user) %>");
        }, 3000);
    });
    ajaxFunc.fail(function(response) {
      console.log("shits broke fam");
    });

  });
});
</script>

