<div id="register">
  <h4>Register Here!</h4>
  <%= render partial: 'shared/errors', locals: {errors: @errors} %>
  <div class="row">
    <div class="card-panel">
      <!--TODO Change to dynamic path-->
      <%= form_for :user, class: 'col s12', url: '/users', multipart: true do |f| %>
          <div class="input-field">
            <%= f.text_field :full_name, id: 'full_name' %><br>
            <%= f.label :full_name %>
          </div>
          <div class="input-field">
            <%= f.text_field :username, id: 'username' %><br>
            <%= f.label :username %>
          </div>
          <div class="input-field">
            <%= f.file_field :profile_picture, id: 'profile_picture' %>
          </div>
          <div class="input-field">
            <%= f.text_field :phone, id: 'phone', placeholder: "e.g. 000-555-1234" %><br>
            <%= f.label :phone %>
          </div>
          <div class="input-field">
            <%= f.text_field :email, placeholder: "e.g. username@domain.com" %>
            <%= f.label :email %><br>
          </div>
          <div class="input-field">
            <%= f.password_field :password %>
            <%= f.label :password %><br>
          </div>
          <div class="center">
            <%= f.submit 'Register', class: 'btn waves-effect waves-light orange darken-4' %>
          </div>
      <% end %>
    </div>
  </div>
</div>
