<div class="row">
  <div class="col s10 push-s1">
    <div class="card horizontal">
      <div class="card-image">
        <img src="<%= @user.profile_picture %>" alt="avatar" class="avatar-image">
      </div>
        <div class="card-content">
          <span><H5><strong>Full Name:</strong> <%= @user.show_full_name %></H5></span><br>
          <span><h5><strong>Username:</strong> <%= @user.username %></h5></span><br>
          <span><h5><strong>Email:</strong> <%= @user.email %></h5></span><br>
          <% if !@user.dwolla_url.include? "funding" %>
            <span><h5><strong>Add Bank Info: </strong><%= link_to 'Click Here', edit_user_path(@user) %></h5></span>
          <% end %>
        </div>
    </div>
  </div>
</div>

<% if @user.can_challenge? %>
  <%= form_tag(new_challenge_path, method: :get) do %>
    <div class="center">
      <%= submit_tag 'New Challenge', class: 'btn waves-effect waves-light' %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="col s10 push-s1">
    <h3>Pending Challenges</h3>
    <ul>
      <% @user.pending_challenges.each do |challenge| %>
        <li id="<%= challenge.id %>">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content pending-challenge">
                <span><H5><strong>Date:</strong> <%= challenge.created_at.strftime('%A, %b %d, %Y') %></H5></span><br>
                <span><h5><strong>Time:</strong> <%= challenge.created_at.strftime('%I:%M %p') %></h5></span><br>
                <span><h5><strong>Description:</strong> <%= challenge.description %></h5></span><br>
                <span><h5><strong>Role:</strong>
                  <% if challenge.challenger.id == @user.id %>
                    Challenger
                  <% elsif challenge.acceptor.id == @user.id %>
                    Acceptor
                  <% else %>
                    Witness
                  <% end %>
                </h5></span>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>


<div class="row">
  <div class="col s10 push-s1">
    <h3>Completed Challenges</h3>
    <ul>
      <% @user.completed_challenges.each do |challenge| %>
        <li id="<%= challenge.id %>">
          <div class="card horizontal">
            <div class="card-stacked">
              <div class="card-content challenge-content">
                <span><H5><strong>Date:</strong> <%= challenge.created_at.strftime('%A, %b %d, %Y') %></H5></span><br>
                <span><h5><strong>Time:</strong> <%= challenge.created_at.strftime('%I:%M %p') %></h5></span><br>
                <span><h5><strong>Description:</strong> <%= challenge.description %></h5></span><br>
                <span><h5><strong>Role:</strong>
                  <% if challenge.challenger.id == @user.id %>
                    Challenger
                  <% elsif challenge.acceptor.id == @user.id %>
                    Acceptor
                  <% else %>
                    Witness
                  <% end %>
                </h5></span>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
