<h1>CHALLENGE TIME!!</h1>

<ul>
  <li>What is GOING ON?? - <%= @challenge.description %></li><br>
  <li>Challenger: <%= @challenge.challenger.show_full_name %></li>
  <li>Who are you Challenging??: <%= @challenge.acceptor.show_full_name %></li>
  <li>Who will Witness this Magnificent Challenge??: <%= @challenge.witness.show_full_name %></li>
  <br>
  <li>Date: <%= @challenge.created_at.strftime("%a, %b %d, %Y") %></li>
  <li>Price Put on the Line: $<%= @challenge.price / 100 %></li>
</ul>

<% if session[:user_id] == @challenge.witness.id %>
  <div class="center-align">
    <%= button_to "Cancel this Challenge", challenge_path(@challenge), method: :delete %>
  </div>
<% end %>

<div class="center-align" id="challenge-complete-button">
  <a class="waves-effect waves-light btn-large center" id="challenge_completed">Challenge Completed?</a>
</div>

<div id="challenge_participants_buttons" class="hide">
  <h5 class="center-align">Who Won this Glorious Challenge?</h5>
  <%= form_for @challenge, method: :patch, html: { class: "winner", id: "#{@challenge.acceptor.id}"} do |f| %>
    <div class="center">
      <%= f.submit "#{@challenge.acceptor.show_full_name}" %>
    </div>
  <% end %>

  <%= form_for @challenge, method: :patch, html: { class: "winner", id: "#{@challenge.challenger.id}"} do |f| %>
    <div class="center" id="challenger">
      <%= f.submit "#{@challenge.challenger.show_full_name}" %>
    </div>
  <% end %>
</div>
