<h3>CHALLENGE TIME!!</h3>

<script type="text/javascript">
  setTimeout(function(){
   window.location.reload(1);
  }, 20000);
</script>

<div class="row">
  <div class="col s10 push-s1">
    <ul class="collection with-header">
      <li class="collection-item"><b>Challenge:</b> <%= @challenge.description %></li>
      <li class="collection-item"><b>Challenger:</b> <%= @challenge.challenger.show_full_name %></li>
      <li class="collection-item"><b>Acceptor:</b> <%= @challenge.acceptor.show_full_name %></li>
      <li class="collection-item"><b>Witness:</b> <%= @challenge.witness.show_full_name %></li>
      <li class="collection-item"><b>Date:</b> <%= @challenge.created_at.strftime("%a, %b %d, %Y") %></li>
      <li class="collection-item"><b>Price:</b> $<%= @challenge.price / 100 %></li>
    </ul>
  </div>
</div>

<% if session[:user_id] == @challenge.witness.id %>
  <div class="center-align">
    <%= button_to("Cancel this Challenge", challenge_path(@challenge), method: :delete, :action => 'destroy', :class => "waves-effect waves-light btn-large center") %>
    <br>
  </div>
<% end %>

<% if current_user.id == @challenge.witness_id %>
  <div class="center-align" id="challenge-complete-button">
    <a class="waves-effect waves-light btn-large center" id="challenge_completed">Challenge Completed?</a>
  </div>

  <div id="challenge_participants_buttons" class="hide">
    <h5 class="center-align">Who Won this Glorious Challenge?</h5>
    <%= form_for @challenge, method: :patch, html: { class: "winner", id: "#{@challenge.acceptor.id}"} do |f| %>
      <div class="center">
        <%= f.hidden_field :winner_id, value: @challenge.acceptor_id %>
        <%= f.hidden_field :loser_id, value: @challenge.challenger_id %>
        <%= f.submit "#{@challenge.acceptor.show_full_name}" %>
      </div>
    <% end %>

    <%= form_for @challenge, method: :patch, html: { class: "winner", id: "#{@challenge.challenger.id}"} do |f| %>
      <div class="center">
        <%= f.hidden_field :winner_id, value: @challenge.challenger_id %>
        <%= f.hidden_field :loser_id, value: @challenge.acceptor_id %>
        <%= f.submit "#{@challenge.challenger.show_full_name}" %>
      </div>
    <% end %>
  </div>
<% end %>
