<h1>CHALLENGE SUMMARY</h1>

<ul>
  <li>What was challenged?? - <%= @challenge.description %></li><br>
  <li><u>PARCIPIPANTS:</u></li>
  <li>Challenger: <%= @challenge.challenger.show_full_name %></li>
  <li>Acceptor: <%= @challenge.acceptor.show_full_name %></li>
  <li>Witness: <%= @challenge.witness.show_full_name %></li>
  <br>
  <li><u>WINNER:</u></li>
  <li>Outcome: <%= @challenge.winner.show_full_name %> was VICTORIOUS! <%= @challenge.loser.show_full_name %> wasn't so lucky....</li>
  <br>
  <li>Date: <%= @challenge.created_at.strftime("%a, %b %d, %Y") %></li>
  <li>Price Paid from <%= @challenge.loser.show_full_name %> to <%= @challenge.winner.show_full_name %> : $<%= @challenge.price / 100 %></li>
</ul>


