<h1>CHALLENGE SUMMARY</h1>

<ul>
  <li>What was challenged?? - <%= @challenge.description %></li><br>
  <li><u>PARTICIPANTS:</u></li>
  <li>Challenger: <%= @challenge.challenger.show_full_name %></li>
  <li>Acceptor: <%= @challenge.acceptor.show_full_name %></li>
  <li>Witness: <%= @challenge.witness.show_full_name %></li>
  <br>
  <li><u>WINNER:</u></li>
  <li id="outcome">Outcome: <%= @winner.show_full_name %> was VICTORIOUS! <%= @loser.show_full_name %> wasn't so lucky....</li>
  <br>
  <li>Date: <%= @challenge.created_at.strftime("%a, %b %d, %Y") %></li>
  <li>Price Paid from <%= @loser.show_full_name %> to <%= @winner.show_full_name %> : $<%= @challenge.price / 100 %></li>
</ul>

<div id="shareBtn" class="btn btn-success clearfix">Share</div>

<script>
  document.getElementById('shareBtn').onclick = function() {
    var outcome = $('#outcome').text();
    console.log(outcome);
    FB.ui({
      method: 'share',
      display: 'popup',
      href: 'https://murmuring-caverns-54973.herokuapp.com/challenges' + '#{@challenge.id}',
    }, function(response){});
  }
</script>


