<!DOCTYPE html>
<html>
  <head>
    <title>WITNESS ME</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- dwolla script- -->
    <script src="https://cdn.dwolla.com/1/dwolla.js"></script>

    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/css?family=BenchNine|Economica|Open+Sans+Condensed:300|Pathway+Gothic+One|Teko" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
      <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="whole-page">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <% if logged_in? %>
              <%= link_to 'WITNESS ME', user_path(current_user), class: 'brand-logo center' %>
            <% else %>
              <%= link_to 'WITNESS ME', signup_path, class: 'brand-logo center' %>
            <% end %>
            <ul id="nav-mobile" >
              <% if logged_in? %>
              <li class="left"><a href=<%= user_path(current_user) %>><i class="large material-icons">perm_identity</i></a></li>
                <li class="right"><%= link_to 'LOGOUT', logout_path %></li>
              <% else %>
                <li class="left"><%= link_to 'HOME', login_path %></li>
                <li class="right"><%= link_to 'LOGIN', login_path %></li>
                <li class="right"><%= link_to 'REGISTER', signup_path %></li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
