<!DOCTYPE html>
<html>
  <head>
    <title>WITNESS ME</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <!-- dwolla script -->
    <script src="https://cdn.dwolla.com/1/dwolla.js"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <div class="nav-wrapper">
          <% if logged_in? %>
            <%= link_to 'WITNESS ME', user_path(current_user), class: 'brand-logo' %>
          <% else %>
            <%= link_to 'WITNESS ME', signup_path, class: 'brand-logo' %>
          <% end %>
          <ul id="nav-mobile" class="right">
            <% if logged_in? %>
            <li><%= link_to "#{current_user.username}", user_path(current_user) %></li>
              <li><%= link_to 'LOGOUT', logout_path %></li>
            <% else %>
              <li><%= link_to 'HOME', login_path %></li>
              <li><%= link_to 'LOGIN', login_path %></li>
              <li><%= link_to 'REGISTER', signup_path %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    <%= yield %>
  </body>
</html>
